extends layout

block head
	link(href='/css/mypage.css', rel='stylesheet')
	script(type='text/javascript' src='js/mypage.js')
		

block content
	article(id='main-wrapper')
		div(id='description')
			h1 Tableau de Bord
			section#wrapper
				section#summary
					section#details-btn.single-cell
						div(class='mypage-label') John Smith
						a(class='mypage-link', href='#about')
							div Details
					section#instructions.single-cell
						div(class='mypage-label') Instructions
						a(class='mypage-link', href='instructions')
							div Instructions
					section#quicktest.single-cell
						div(class='mypage-label') Tests Rapides
						a(class='mypage-link', href='quicktest') 
							div Nouveau Test
					section#fulltest.single-cell
						div(class='mypage-label') Examens
						div(class='mypage-sublabel')
						div.mypage-label#exam-type
							select#test-domain
								option(name='HTML') html
								option(name='CSS') css
								option(name='JS') js
						div(class='mypage-sublabel')
						div.mypage-label#exam-type
							input#test-nbQuestions(min='1', max='99', value='1', type='number')
						a(class='mypage-link', href='/test')
							div Commencer
					section#Results.multi-cell
						div.multi-cell-wrapper
							div.multi-cell-header Examens Precedents
							div.multi-cell-content
							table#details-exams-table
								if statistics.exams
									each ex in statistics.exams
										tr
											td= ex.domain
											td
												label= ex.questionsSuccess
												label /
												label= ex.questionsTotal
								tr.total
									td Moyenne totale
									td#stats-exams-average
										label= average
										label %
				section#statistics
					div#statistics-content
						h1 Statistiques
						h1 Tests passés
						table
							if statistics.quicktests
								each qt in statistics.quicktests
									tr
										td Total
										td#stats-quicktests
											label= qt.questionsSuccess
											label /
											label= qt.questionsTotal
						h1 Examens passés
						table
							if statistics.exams
								each ex in statistics.exams
									tr
										td= ex.domain
										td
											label= ex.questionsSuccess
											label /
											label= ex.questionsTotal
							tr.total
								td Moyenne totale
								td#stats-exams-average
									label= average
									label %
					a(class='mypage-link')#stats-button
						div Réinitialiser

block modal
	span#start.target
	span#about.target
	div.modal
		div.content.vertical-align-middle
			a.close-btn(href='#start')
				div#modal-bg
			div#details-content
				h1 Statistiques
				h1 Tests passés
					table
						if statistics.quicktests
							each qt in statistics.quicktests
								tr
									td Total
									td#stats-quicktests
										label= qt.questionsSuccess
										label /
										label= qt.questionsTotal
					h1 Examens passés
					table
						if statistics.exams
							each ex in statistics.exams
								tr
									td= ex.domain
									td
										label= ex.questionsSuccess
										label /
										label= ex.questionsTotal
						tr.total
							td Moyenne totale
							td#stats-exams-average
								label= average
								label %
