extends layout

block head
	link(href='/css/question.css', rel='stylesheet')
	script(type='text/javascript' src='js/results.js')
		

block content
	article(id='main-wrapper')
		h1 Examen

		section.results#question
			h1 Examen Terminé
			span#result
			div#clear
			section#quiz-navig
				div#next.quiz-navig-btn
					a(href='/mypage') 
						div Terminer
				div#closer
		section#statistics
			div#statistics-content
				h1 Statistiques
				h1 Tests passés
				table
					each qt in statistics.quicktests
						tr
							td Total
							td#stats-quicktests
								label= qt.questionsSuccess
								label /
								label= qt.questionsTotal
				h1 Examens passés
				table
					each ex in statistics.exams
						tr
							td= ex.domain
							td
								label= ex.questionsSuccess
								label /
								label= ex.questionsTotal
					tr.total
						td Moyenne totale
						td#stats-exams-average
							label= average
							label %